HELP.md
target/

# Maven
.mvn/wrapper/maven-wrapper.jar

# Mantém target dentro de src caso exista
!**/src/main/**/target/
!**/src/test/**/target/

# =========================
# Spring / Ambiente
# =========================
.env
.env.*
!.env.example

# =========================
# Chaves e certificados
# =========================
*.pem
*.key
*.crt
*.cer
*.p12
*.pfx
*.jks
*.keystore

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr

# =========================
# Eclipse / STS
# =========================
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Build
# =========================
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db